.text-fill {
	height: 100%;
	vertical-align: middle;
}

.sortable {
	padding: 0.2rem 0.2rem;
	table-layout: fixed;
	vertical-align: middle;
	text-align: center;
}

.sortable thead tr th {
	font-size: 1.25vw;
}

.sortable tbody tr td {
	
    	font-size: 0.85vw;
	vertical-align: middle;
}

.sortable a {
	text-decoration: none;
}

.god-thumbnail {
	width: 15%;
	height: 15%;
}

.item-thumbnail {
	width: 50%;
	height: 50%;
}

.dataTables_filter input, .dataTables_filter input:focus {
	color: white;
   	background-color: rgba(0, 0, 0, 0.1);
}